/* necessary google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* default styles */
body {
    font-family: work sans;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* nav-section-style */
.header {
    margin-bottom: 3rem;
}
nav {
    margin-bottom: 3rem;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.nav-left img {
    margin-right: 15px;
}

.nav-title {
    font-size: 3rem;
}

.nav-title span {
    color: #ff42a5;
}

.nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trans-btn {
    margin-bottom: 2rem;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
}

.button-to-follow {
    background-color: rgb(238, 238, 238);
    padding: 8px 12px;
    width: 150px;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.youtube {
    color: red;
}

/* header style */
.hero-right img {
    width: 100%;
}

.hero-container {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
}


.subtitle {
    font-size: 2rem;
    text-transform: uppercase;
}

.title {
    background: -webkit-linear-gradient(#dc3bbf, #8d1290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2px;
} 

.unorderd-list {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.unorderd-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.unorderd-list li:nth-child(1) i {
    color: red;
}

.unorderd-list li:nth-child(2) i {
    color: red;
}

.hero-left {
    padding-left: 3rem;
    text-align: center;
}

.button-container button {
    padding: 0.7rem 1.2rem;
    border-radius: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
}

.button-container button:nth-child(1) {
    background-color: #ff42a5;
}

.button-container button:nth-child(2) {
    background-color: rgb(0, 191, 255);
}

.section-text {
    text-align: center;
}

.section-image img {
    width: 100%;
}

/* main-section */

.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background: -webkit-linear-gradient(#dc3bbf, #8d1290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-descrip {
    margin-bottom: 1.5rem;
}

.section-text button {
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #ff42a5;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.purpose {
    padding-bottom: 0.6rem;
}

.main-first-section {
    margin-bottom: 3rem;
}

/* main second section */

.main-second-section {
    margin-bottom: 3rem;
}
.section-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section-header span {
    margin-bottom: 1.5rem;
    background: -webkit-linear-gradient(#dc3bbf, #8d1290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section {
    text-align: center;
    margin-bottom: 2rem;
}

.section-description {
    font-size: 15px;
}

.card-container img {
    width: 100%;
    margin-bottom: 0.6rem;
}

.card p {
    margin-bottom: 1.6rem;
}

.card {
    position: relative;
}

.watch-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    font-size: 2rem;
    color: white;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 94%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.567);
    border: 4px solid #ff42a5;
    border-radius: 30px;
}

.card img:hover+ .watch-now {
    display: block;
}

.play-btn:hover {
    border: 4px solid #ff42a5;
    border-radius: 50px;
}

/* main-third-section */
.text-container {
    text-align: center;
}

.main-third-section {
    margin-bottom: 3rem;
}

.text-container p {
    line-height: 1.4;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgb(110, 110, 110);
}

.title-section {
    padding-bottom: 2rem;
}

.title-section span {
    display: block;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    text-shadow: 2px 2px 4px black;
}

.title-section span:nth-child(1) {
    background: -webkit-linear-gradient(#dc3bbf, #8d1290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px #8d1290;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 250px;
    margin-left: 25%;
}

.small-img {
    position: absolute;
    bottom: -30px;
    width: 150px;
    height: 150px;
}

.small-img img {
    width: 100%;
    height: 100%;
}

.small-img-2 {
    position: absolute;
    bottom: -30px;
    width: 150px;
    height: 150px;
}

.small-img-2 img {
    width: 100%;
    height: 100%;
}

/* .list-section */
.main-fifth-section {
    margin-top: 4rem;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 
    13.134%,rgb(255, 66, 165) 87.942%);
    padding: 3rem 1.5rem;
    margin-bottom: 4rem;
}
.list-container ul li{
    list-style: none;
    padding-bottom: 0.6rem;
    color: #ffffffd6;
}

.list-container a {
    text-decoration: none;
    color: #ffffffd6;
}

.description {
    padding-bottom: 3rem;
}

.description h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #ffffffd6;
    padding-bottom: 1rem;
}

.description p {
    color: #ffffffd6;
}

.image-container {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;

    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
}

.image-container img {
    width: 100%;
}

/* game-type-section */
.game-type-section {
    text-align: center;
}

.games {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.games p {
    font-size: 1.2rem;
    font-weight: bold;
}

.games:hover {
    border: 3px solid #ff42a5;
    border-radius: 50px;
    padding: 15px;
}

.games:hover p {
    color: #ff42a5;
}

.highlight {
    display: inline;
    background: -webkit-linear-gradient(#dc3bbf, #8d1290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background: rgb(11, 2, 35);
    padding: 4rem 0rem 3rem 0rem;
    text-align: center;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    justify-content: center;
}

.footer-logo h3 {
    color: #ffffff;
    font-size: 2rem;
}

.footer-logo span {
    color: #ff42a5;
    margin-left: 0.6rem;
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer-links li {
    width: 33%;
    list-style: none;
    padding-bottom: 1rem;
}

.footer-links li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer-socials i {
    width: 33%;
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.company-policy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.company-policy p {
    width: 50%;
    margin-bottom: 2rem;
    color: #ffffffa6;
    text-transform: capitalize;
}

.footer-bar {
    color: #ffffffa6;
}

.text-container {
    animation: showAnimation 0.5s linear 1 forwards;
    transform: translateX(-200px);
}

@keyframes showAnimation {
    to {
        transform: translateX(0px);
    }
}

.container-2 {
    animation: showAnimation 0.5s linear 1 forwards;
    transform: translateX(200px);
}

@keyframes showAnimation {
    to {
        transform: translateX(0px);
    }
}

.img-container {
    animation: showAnimation 0.5s linear 1 forwards;
    transform: translateX(200px);
}

.img-container2 {
    animation: showAnimation 0.5s linear 1 forwards;
    transform: translateX(-200px);
}

/* media query starts */
@media screen and (min-width: 640px) {
    .box-shadow {
        box-shadow: 10px 0 7px black;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .nav-right {
        flex-direction: row;
    }

    .trans-btn {
        margin-bottom: 0px;
        width: 100px;
    }

    .button-to-follow {
        width: 140px;
    }

    .nav-left {
        padding-bottom: 0px;
    }

    /* header style */
    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        max-width: 1140px;
        margin: 0 auto;
    }

    .hero-right {
        width: 50%;
    }
    
    .hero-left {
         width: 50%;

         text-align: left;
    }

    .title {
        margin-bottom: 1.5rem;
    }

    .unorderd-list {
        margin: 0;
        width: 100%;
        margin-bottom: 2rem;
    }

    /* main-section */
    .main-first-section {
        display: flex;
        align-items: center;
    }

    .section-image {
        width: 50%;
    }

    .section-text {
        width: 50%;
    }

    .section-text {
        text-align: right;
    }

    /* second-main-section */
    .section-header {
        font-size: 2.5rem;
    }

    .card-container {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .card-container .card {
        width: 25%;
    }

    .watch-now {
        width: 100%;
        height: 326px;
        padding-top: 40%;
        text-align: center;
        border: 4px solid #ff42a5;
        border-radius: 20px;
    }

    /* main-third */

    .main-third-section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .text-container {
        width: 50%;
        text-align: right;
        padding-right: 3rem;
    }

    .img-container {
        width: 50%;
    }

    .img-container img {
        width: 100%;
        margin-left: 0px;
    }

    .small-img {
        left: -70px;
    }

    .main-forth-section {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row-reverse;
    }

    .small-img-2 {
        right: -70px;
    }

    .container-2 {
        text-align: left;
        padding-left: 5%;
    }

    /* .main-fifth-section */
    .main-fifth-section {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .main-fifth-section .description {
        width: 50%;
        padding: 3rem;
    }

    .list-container {
        display: flex;
    }

    .list-container ul:nth-child(1) {
        width: 50%;
    }

    .list-container ul:nth-child(2) {
        width: 50%;
    }

    .main-fifth-section .image-container {
        width: 50%;
    }

    .main-fifth-section {
        padding: 0px;
    }

    .footer-content {
        width: 60%;
        margin: 0 auto;
    }

    .footer-socials {
        width: 50%;
        margin: 0 auto;
    }

    .footer-links li {
        width: 16%;
    }

    .footer-socials i {
        width: 16%;
    }

    .company-policy p {
        width: 25%;
    }
}

@media screen and (min-width: 640px) and (max-width: 940px) {
    /* .game-type-section */
    .game-type-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .games {
        width: 48%;
        margin: 0px;
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 940px) {
    /* .game-type-section */
    .game-type-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .games {
        width: 19%;
        margin: 0px;
        margin-bottom: 2.4rem;
        font-size: 1rem;
        font-weight: 300;
    }

    .main-fifth-section {
        margin-bottom: 5rem;
    }
}